/* CSS Document */
body {
	background: #ffece1;
	padding:10px;
}


/* 这里是"资源管理.文档"的样式 */
.topNav{ width:100%; height:32px; border:1px solid #ffc4a0; background:url(../images/bg_rightNav.jpg) repeat-x; line-height:32px;}
.topNav span{ margin-left:10px; }
.con1{ width:100%; margin-top:10px; float:left;}
.con1Left{ width:30%; float:left;}
.con1Right{ width:69%; float:right;}
.Fljg{ height:32px; float:left; border-left:1px solid #ffc4a0;}
.Fljg p{ background:url(../images/bgRight.jpg) repeat-x; border:1px solid #ffc4a0; border-left:none; border-bottom:none; float:left; line-height:32px; padding:0px 15px; font-weight:bold;}

.FljgCon{ width:100%; height:300px; border:1px solid #ffc4a0; float:left; background:#FFFFFF; overflow:auto;}
.FCon_1{width:100%; height:auto;float:left; margin-top:10px;}
.FCon_1 p{ width:100%; margin-bottom:8px; float:left;}
.FCon_1 p input{ width:352px; height:23px; float:left; border:1px solid #ffd2b7; background:#FFFFFF;}
.FCon_1 p span{ width:67px; height:28px; float:left; text-align:right; line-height:28px; margin-right:10px; display:block;}
.FljgConBt{ padding-left:12px; float:left; }
.FljgConBt p{ float:left; margin-right:1px; display:inline;}
.FljgConBt p a{ height:27px; background:url(../images/bgNav.jpg) repeat-x; padding:0px 10px; float:left; line-height:27px; color:#FFFFFF; text-decoration:none;}
.FljgConBt p a:hover{ background: url(../images/bgNavclik.jpg) repeat-x; color:#742c00;}

con2{ height:32px; float:left;}
.con2 p{ background:url(../images/bgRight.jpg) repeat-x; border:1px solid #ffc4a0;border-bottom:none; float:left; line-height:32px; padding:0px 15px; font-weight:bold;}

.connn { margin-left:-55px}

.con2Main{ width:100%; height: auto; border:1px solid #ffc4a0; float:left; background:#FFFFFF; padding-bottom:10px;}
.con2Main p{ width:100%; float:left; margin-top:10px;}
.con2Main p span{ width:67px;float:left; text-align:right; line-height:28px; margin-right:10px; display:block; height:28px;}

.ipt{height:23px; float:left; border:1px solid #ffd2b7; background:#FFFFFF;}
.ipt1{height:23px; float:left; border:1px solid #ffd2b7; background:#FFFFFF; width:500px}
.ipt2{height:100px; float:left; border:1px solid #ffd2b7; background:#FFFFFF; width:500px}
.ipt21{height:100px; float:left; border:1px solid #ffd2b7; background:#FFFFFF; width:355px}
.mag{ margin-top:10px; margin-left:-12px; display:inline;}

/* 这里是"资源管理.文档2"的样式 */

.FljgConLiebiao{ width:90%; float:left; margin:10px 0px 0px 15px; display:inline;}
.FljgConLiebiao p{ float:left; margin-right:10px;line-height:24px;}
.FljgConRight{ width:90%; float:left; margin:0px 0px 0px 15px; display:inline;}
.FljgConRight p{ width:100%; float:left; line-height:20px;}
.FljgConRight p a{ float:left; color:#893200; text-decoration:none;}
.FljgConRight p a:hover{color:#F00;}
.FljgConRight p span{ float:left; margin-right:10px;}
.FljgConFanye{ width:90%;  float:left; margin:10px 0px 0px 15px; display:inline; }
.FljgConFanye p{ float:left; margin-right:10px; padding:3px; border:1px solid #ffc4a0; background:#ffece1;}
.FljgConFanye p a{ color:#a03b00; text-decoration:none;}
.FljgConFanye p a:hover{ color: #F00}

/* 这里是"资源管理.图片"的样式*/

.imgCon2{ width:300px; float:left; margin-left:10px; display:inline;}
.imgCon2 p{ float:left; line-height:33px;}
.imgCon2 p a{ color:#a03b00; text-decoration:none; margin-right:10px;}
.imgCon2 p a:hover{ color:#F00;}
.conImag{ width:100%; float:left;}
.conImag p{ width:165px; height:109px; background:url(../images/img_1.jpg) no-repeat; border:1px solid #c7c7c7; margin:10px; float:left; display:inline;}
.conImag1{ width:100%; float:left;}
.conImag1 p{ border:1px solid #c7c7c7; margin:10px; float:left; display:inline;}
.conImag1 p a img{ border:none}

.con3Main{ width:100%; height: auto; border:1px solid #ffc4a0; float:left; background:#FFFFFF; padding-bottom:10px;}
.conImagFanye{ width: auto; float:left; margin:10px 0px 0px 10px; display:inline; }
.conImagFanye p{ float:left; margin-right:10px; padding:3px; border:1px solid #ffc4a0; background:#ffece1;}
.conImagFanye p a{ color:#a03b00; text-decoration:none;}
.conImagFanye p a:hover{ color: #F00}
.conImagBt{ width:auto; float:right; margin:10px 10px 0px 0px; display:inline;}
.imgStyle{ width:100%; border:1px solid #ffc4a0; float:left; background:#FFFFFF; padding-top:10px; margin-top:-10px; padding-bottom:10px;}
.imgStyle textarea{ width:600px; height:100px; border:1px solid #ffc4a0; float:left; background:#FFFFFF;}
.imgStyle a{ height:27px; background:url(../images/bgNav.jpg) repeat-x; padding:0px 10px; float:left; line-height:27px; color:#FFFFFF; text-decoration:none; margin-left:10px;}

.FCon_2{width:100%; height:auto;float:left; margin-top:10px;}
.FCon_2 p{ width:100%; margin-bottom:8px; float:left;}
.FCon_2 p span{ width:78px;text-align:left; margin-right:10px; display:block inline; margin-left:10px; float:left;}
.FCon_2Input{ width: auto; height:23px; float:left; border:1px solid #ffd2b7; background:#FFFFFF;}
.FCon_2 p a{ height:27px; background:url(../images/bgNav.jpg) repeat-x; padding:0px 10px; float:left; line-height:27px; color:#FFFFFF; text-decoration:none; margin-left:10px;}


/* 这里是"资源管理.图片2"的样式*/
.ImgTbl table{ width:98%; margin:10px 10px 0px 10px; background:#ffd2b7;}

/* 这里是"资源管理.图片2"的样式*/
.FljgConRight2{ width:98%; float:left; margin:10px 0px 0px 15px; display:inline;}
.FljgConRight2 p{ width:100%; float:left; line-height:20px;}
.FljgConRight2 p a{ float:left; color:#893200; text-decoration:none;}
.FljgConRight2 p a:hover{color:#F00;}
.FljgConRight2 p span{ float:left; margin-right:10px;}

/* 这里是"栏目管理"的样式*/

.FileCon{width:100%; height:600px;;border:1px solid #ffc4a0; float:left; background:#FFFFFF;float:left; overflow:auto;}
.FileCon p{ width:100%; margin-bottom:8px; float:left;}
.FileCon p input{ width:352px; height:23px; float:left; border:1px solid #ffd2b7; background:#FFFFFF;}
.FileCon p span{ width:67px; height:28px; float:left; text-align:right; line-height:28px; margin-right:10px; display:block;}

.FileCon1{ width:100%; height:auto; border:1px solid #ffc4a0; float:left; background:#FFFFFF;}

.FileCon2{width:100%; height:auto;float:left; margin-top:10px;}
.FileCon2 p{ width:100%; margin-bottom:8px; float:left;}
.FileCon2 p input{ width:352px; height:23px; float:left; border:1px solid #ffd2b7; background:#FFFFFF;}
.FileCon2 p span{ width:67px; height:28px; float:left; text-align:right; line-height:28px; margin-right:10px; display:block;}

.mgn1{ margin-top:10px;}

/* 这里是"栏目发布"的样式*/
.fileBeizhu{ width:500px; height:100px;border:1px solid #ffd2b7; background:#FFFFFF; float:left;}
.fileZiyuan{ width:100%; float:left; padding:10px 0px;}
.fileZiyuan1{ width:100%; float:left; padding:10px 0px; height:300px; overflow:auto;}
.fileZiyuan p{ border-bottom:1px dashed #ffdeca; width:97%; margin-left:10px; line-height:24px; float:left; display:inline; }
.fileZiyuan p span{ float:left;}
.fileZiyuan p a{ float:right; margin-left:10px; color:#602400; text-decoration:none;}
.fileZiyuan p a:hover{ float:right; margin-left:10px; color: #F00;}
.con1Right2{ width:100%; float:left;border:1px solid #ffd2b7; border-top:none; background:#FFFFFF; padding-bottom:10px;}

/* 这里是"数据管理.编辑"的样式*/
.FCon_3{width:100%; height:auto;float:left; margin-top:10px;}
.FCon_3 p{ width:60%; height:27px;line-height:27px; float:left; padding-left:10px;}
.FCon_3 a{ height:27px; background:url(../images/bgNav.jpg) repeat-x; padding:0px 10px; float:right; line-height:27px; color:#FFFFFF; text-decoration:none; margin-right:10px;}

.conShuju{ width:100%; float:left;}
.conShuju h1{ font-size:12px; margin:0px 0px 5px 10px;}
.conShuju p{ width:50%; padding:0px 10px; line-height:24px; float:left;}
.conShuju p span{ float:left; display:block inline;}
.conShuju p a{ float:right;display:block inline;}

/* 这里是"图表管理.编辑"的样式*/
.imgGuanli{ width:100%; height: auto; border:1px solid #ffc4a0; float:left; background:#FFFFFF; padding:10px 0px;}
.imgGuanliLeft{ width:175px; float:left; margin:0px 10px; display:inline;}
.imgGuanli img{ margin:5px; border:1px solid #CCCCCC; display:inline; float:left;}
.imgGuanliRight{ width:652px; height:351px;border:1px solid #CCCCCC; margin-top:5px;float:left;display:inline;}
.search{ width:600px; margin-left:10px; padding-top:5px;line-height:24px;}
.mgn2{ margin-left:15px;}

.con3Main{ width:100%; height: auto; border:1px solid #ffc4a0; float:left; background:#FFFFFF; padding-bottom:10px;}
.mgn3{ margin-right:1px;}

.xiaoxi{ width:100%; float:left}
.xiaoxi ul{ float:left; width:98%; margin:10px 0px 0px 10px; display:inline;}
.xiaoxi ul li{ list-style:none; width:100%; float:left; margin-bottom:3px; border-bottom:1px dashed #CCCCCC; line-height:24px;}
.xiaoxi ul li p{ float:left;}
.xiaoxi ul li input{ float:right}


