@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-align: center;
	background-image: url(../images/login_bj.png);
	background-repeat: repeat-x;
	background-position: center top;
}.box {
	width: 779px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 20px;
}
.top {
	background-image: url(../images/logon/logon_top.png);
	background-repeat: no-repeat;
	height: 144px;
	width: 779px;
}
.bottom {
	background-image: url(../images/logon/logon_bottom.png);
	background-repeat: no-repeat;
	background-position: top;
	float: left;
	height: 140px;
	width: 730px;
	padding-top: 65px;
	padding-right: 49px;
	color: #333;
}
.botton {
	background-image: url(../images/logon/botton.gif);
	background-repeat: no-repeat;
	display: block;
	height: 57px;
	width: 58px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.box_top {
	width: 875px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 80px;
}
.banqian {
	line-height: 20px;
	color: #333;
	float: left;
	width: 100%;
}

.logo {
	background-image: url(../images/logon/logo.png);
	background-repeat: no-repeat;
	height: 64px;
	width: 699px;
}
.code{
/*background-image:url(code.jpg);*/
font-family:Arial;
font-style:italic;
color:Red;
border:0;
padding:2px 3px;
letter-spacing:3px;
font-weight:bolder;
}